<footer id="footer" class="nobg text-center pt-3 pb-3 mt-5">
    <p>© Copyright 2024 : Sean Derenas</p>
    <div class="col align-items-center w-100 mx-auto link_hover">

        <a class="navLink nobg" href="#">Home</a> |
        <a class="navLink nobg" href="#portfolio">Portfolio</a> |
        <a class="navLink nobg" href="#about">About</a> |
        <a class="navLink nobg" href="#contact">Contact</a>
       
    </div>
</footer>
