
<footer id="footer" class="bg-outer-space-blue text-center pt-3 pb-3 text-light mt-5">
    <p>© Copyright 2024 : Sean Derenas</p>
    <div class="col align-items-center w-100 mx-auto link_hover">

        <a href="/">Home</a> |
        <a href="/events">Events</a> |
        <a href="/about">About</a> |
        <a href="/contact">Contact</a>
       
    </div>
</footer>
