<div class="mt-5">
<footer class="bg-outer-space-blue text-center pt-3 pb-3 text-light">
    
    <p>© Copyright 2024 : Sean Derenas At Bay Path RVTHS</p>
    <div class="row align-items-center w-100">
        <div class="col-4"></div>
        <div class="col link_hover"> <a class="" href="/">Home</a></div>
        <div class="col link_hover"> <a class="" href="/events">Events</a></div>
        <div class="col link_hover"> <a class="" href="/about">About</a></div>
        <div class="col link_hover"> <a class="" href="/contact">Contact</a></div>
        <div class="col-4"></div>
    </div>
</footer>
</div>