<% /* old information from exmaple %>
<nav class="navbar navbar-expand-lg bg-outer-space-blue ">
    <div class="container-fluid">
      <a class="navbar-brand text-light text-decoration-none" aria-current="page" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav link_hover">
          <a class="nav-link" href="/events">Events</a>
          <a class="nav-link" href="/portfolio">Portfolio</a>
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="/contact">Contact</a>
        </div>
      </div>
    </div>
</nav>
<% old information from exmaple */ %>

<nav class="navbar navbar-expand-lg bg-outer-space-blue">
  <div class="container-fluid bg-outer-space-blue link_hover">
    <a class="navbar-brand" href="/">Sean Derenas</a>
    <button class="navbar-toggler bg-off-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title outer-space-blue" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body bg-outer-space-blue">
        <ul class="navbar-nav justify-content-end pe-3">
          <li class="">
            <a class="nav-link navLink" href="/">Home</a>
          </li>
          <li class="">
            <a class="nav-link navLink" href="/events">Events</a>
          </li>
          <li class="">
            <a class="nav-link navLink" href="/portfolio">Portfolio</a>
          </li>
          <li class="">
            <a class="nav-link navLink" href="/about">About</a>
          </li>
          <li class="">
            <a class="nav-link navLink" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<% /* old information from exmaple %>
<nav class="navbar fixed-top bg-outer-space-blue w-100">
  <div class="container-fluid bg-outer-space-blue link_hover">
    <a class="navbar-brand" href="/">Sean Derenas</a>
    <a class="nav-link" href="/events">Events</a>
    <a class="nav-link" href="/portfolio">Portfolio</a>
    <a class="nav-link" href="/about">About</a>
    <a class="nav-link" href="/contact">Contact</a>
    <button class="navbar-toggler bg-off-white" id="offcanvasButton" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon off-white"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-off-white" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      
    </div>
  </div>
</nav>
<% old information from exmaple */ %>