<h1 class="text-center"> WhO AM I ??</h1>

<div class="row">
    <div class="col-6">
        <h3> My name is Sean and I made this website!</h3>
        <p class="link_hover"> It's made in Node.js and is connected to a database with mongoDB.
            I am a senoir at Bay Path Regional Vocational Technical High School 
            and work in the Programing and Web Development Shop. I've worked with 
            multiple langauges such as Python, JavaScript, Java, and C++. Additonally, 
            I've worked with Ruby on Rails on my <a class="text-decoration-none link_hover" target="_blank" href="http://www.baypath.net/">schools Website</a>. </p>
    </div>
    <div class="col-6">
        <img class="w-100" src="https://dummyimage.com/600x400/000/fff" alt="Picture of Sean Derenas doing something">
    </div>
</div>