<h1 class="text-center"> WhO AM I ??</h1>

<div class="row">
    <div class="col-xl-6">
        <h3> My name is Sean and I made this website!</h3>
        <p class=""> It's made in Node.js and is connected to a database with mongoDB.
            I am a senoir at Bay Path Regional Vocational Technical High School 
            and work in the Programing and Web Development Shop. I've worked with 
            multiple langauges such as Python, JavaScript, Java, and C++. Additonally, 
            I've worked with Ruby on Rails on my <a class="" target="_blank" href="http://www.baypath.net/">schools Website</a>. 
            <strong>Click on the image for more information.</strong>
        </p>
        <p class="d-none" id="aboutMeTextHidden">
            In this image I am on the right in purple, this was taken in Pleasanton California
            after winning in a robotics competition. I designed, built, and coded an autonamous 
            line racer robot in my Junior year of High School, then i flew out with my school and 
            competeted, there i went agaist teams from Hong Kong, Korea, Taiwan, and Ecuador. I 
            won third place but i was very happy just to go there and see what it was like, i learned
            so much and want to go to more competitions 
        </p>
    </div>
    
    <div class="col" id="aboutMeIMGAndText">
        <img class="w-100" id="aboutMeIMG" src="../public/images/about_me_image.png" alt="Picture of Sean Derenas doing something">
    </div>
</div>