
<div class="col m-1" data-position="contactForms">
    <h2>All Contact submissions</h2>
      <% for(var i = 0; i < contactForms.length; i++) {%>
        <hr class="text-dark"><div class="ps-4 pe-4"> 
          <h3>Name: <%= contactForms[i].name %></h3>
          <h4>Email: <%= contactForms[i].email %></h4>
          <p><strong>Subject:</strong> <%= contactForms[i].subject %></p>
          <p><strong>Content:</strong> <%= contactForms[i].content %></p>
        </div>
      <% } %>
  </div><hr class="text-dark">
