<h1> Contact me here! </h1>

<div class="row">
    <div class="col text-center">
          <section class="contact-wrap">
            <form action="" class="contact-form">
              <div class="col-sm-6">
                <div class="input-block">
                  <label for="">First Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-block">
                  <label for="">Last Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="input-block">
                  <label for="">Email</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="input-block">
                  <label for="">Message Subject</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="input-block textarea">
                  <label for="">Drop your message here</label>
                  <textarea rows="3" type="text" class="form-control"></textarea>
                </div>
              </div>
              <div class="col-sm-12">
                <button class="square-button">Send</button>
              </div>
            </form>
          </section>
          
    </div>
</div>