
<div class="row mt-5 mb-3">
    <div class="col-3 text-end">
      <h2 class="outer-space-blue">Please <br>contact<br> me<br> here<br> about<br> any<br> questions.</h2>
    </div>
    <div class="col">
      <form>
        <div class="row mt-2">
          <div class="col-3 text-end"><label for="contactName"><h4>Full Name</h4></label></div>
          <div class="col text-start"><input id="contactName" placeholder="John Doe" type="text" name="name" required="true"></div>
        </div>
        <div class="row mt-2">
          <div class="col-3 text-end"><label for="contactEmail"><h4>Email</h4></label></div>
          <div class="col text-start"><input id="contactEmail" placeholder="johndoe@example.com" type="text" name="email" required="true"><br></div>
        </div>
        <div class="row mt-2">
          <div class="col-3 text-end"><label for="contactSubject"><h4>Subject</h4></label></div>
          <div class="col text-start"><input id="contactSubject" placeholder="Subject Field" type="text" name="subject" required="true"><br></div>
        </div>
        <div class="row mt-2">
          <div class="col-3 text-end"><label for="contactContent"><h4>Content</h4></label></div>
          <div class="col text-start "><textarea class="" id="contactContent" placeholder="Main Content Section" type="text" name="name" required="true"></textarea><br></div>
        </div>
        <div class="col text-center"><button class="center">Submit</button><input class="resetButton ms-1" type="reset" value="Reset"></div>
      </form>
    </div>
</div>