<div class="row">
    <div class="col"> 
        <h2 class="text-center"></h2>
        <img class="w-100" id="aboutMeIMG" src="../public/images/about_me_image.webp" alt="Picture of Sean Derenas doing something">
        <p> Example text for portfolio</p>
    </div>
    
    <div class="col"> 
        <img class="w-100" id="aboutMeIMG" src="../public/images/about_me_image.webp" alt="Picture of Sean Derenas doing something">
        <p> Example text for portfolio</p>
        
    </div>

</div>