/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   WEBSITE STYLES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

.link_hover a {
  text-decoration: none;
  color: #FAF9F6;
}
.link_hover a:hover {
  color: #9c9c9c;
  text-decoration: underline;
}
a {
  color: #32373B;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
body {
  background-color: #9c9c9c;
  color: #32373B;
}
h1, h2, h3, h4, h5, p {
  color:#FAF9F6;
}
input, textarea {
  border-radius: 4px;
  border: 2px #4A5859 solid;
  padding: 5px;
  color: #32373B;
  background-color: #FAF9F6;
}
::placeholder {
  color: #32373B;
  opacity: 50%;
}
button, input[type="reset"] { /* input[type="reset"] is for reset buttons */
  background-color: #4A5859;
  color: #FAF9F6;
  transition: 0.2s;
  border-radius: 4px;
  border: 2px #4A5859 solid;
  padding: 5px;
}
button:hover, input[type="reset"]:hover {
  background-color: #FAF9F6;
  color: #4A5859;
  transition: 0.2s;
}
button:active, input[type="reset"]:active {
  background-color: #32373B;
  color: #FAF9F6;
  border: 2px #32373B solid;
  transition: 0.2s;
}
.resetButton {
  max-width: fit-content;
}
/* ~~~ FOOTER STYLES ~~~ */
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 5.5rem;    /* Footer height */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.5rem;            /* Footer height */
}
#offcanvasButton:hover {
  background-color: #9c9c9c;
  color: #32373B;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   END OF WEBSITE STYLES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   PORTFOLIO STYLES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   END OF PORTFOLIO STYLES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   ABOUT STYLES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

#aboutMeIMG {
  transition: 0.2s;
  border-radius: 10px;
  border: #32373B solid 1px;
}
#aboutMeIMG:hover{
  transition: 0.2s;
  border-radius: 10px;
  border: #5b6166 solid 1px;
  filter: brightness(90%);
}
#aboutMeIMG:active{
  transition: 0.2s;
  border-radius: 10px;
  border: #5b6166 solid 1px;
  filter: brightness(80%);
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   END OF ABOUT STYLES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   ABOUT STYLES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   END OF ABOUT STYLES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   CONTACT STYLES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

::selection {
  background-color: rgb(0, 0, 0);
  color: #FAF9F6;
}

textarea {
  height: 150px;
  width: 75%;
  
}
input{
  width: 75%;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   END OF CONTACT STYLES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   COLORS   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

/* ~~~ TEXT COLORS ~~~ */
.black-onyx{color: #32373B;}
.space-gray{color: #9c9c9c;}
.outer-space-blue{color: #4A5859;}
.off-white{color: #FAF9F6;}

/* ~~~ BACKGROUND COLORS ~~~ */
.bg-black-onyx{background-color: #32373B;}
.bg-space-gray{background-color: #9c9c9c;}
.bg-outer-space-blue{background-color: #4A5859;}
.bg-off-white{background-color: #FAF9F6;}


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   END OF COLORS   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */