
<div class="col m-1" data-position="files">
    <h2>images</h2>
    <p>Attributes: _id,length,chunkSize,uploadDate,filename,contentType,portfolioTitle </p>
      <% for(var i = 0; i < files.length; i++) {%>
        <hr class="text-dark"><div class="ps-4 pe-4"> 
          <h3>Filename: <%= files[i].filename %> </h3>
          <h3>Belongs to: <%= files[i].portfolioTitle %> </h3>
          <h3>Files: <img src="/download/<%= files[i].filename %>"> </h3>
          <p>ID: <%= files[i]._id %></p>
          
        </div>
      <% } %>
  </div><hr class="text-dark">