<!-- <div>
  <img class="" id="" src="../public/images/long-arrow-transparent.webp" alt="Picture of Sean Derenas at Hawk Hill adjacent to the Golden Gate Bridge">
</div> -->

<!-- Landing page Welcome area -->
<header>
  <div class="row">
    <div class="col mb-5 pb-5 mt-5 pt-3 text-center">
      <h1  class=""><span id="typed"></span></h1>
      <div class="row mb-2"><div class="mx-auto d-block "><h2 class="d-inline">My name is&nbsp;</h2><h2 class="d-inline welcomeNameHover" id="welcomeName">Sean Derenas</h2></div></div>
      <h4>I'm a Computer Science Student in Boston, MA</h4>
    </div>
    <div class="col text-center">
      <img class="" id="welcomeIMG" src="../public/images/personal/Sean_golden_gate_bridge.webp" alt="Picture of Sean Derenas at Hawk Hill adjacent to the Golden Gate Bridge">
    </div>
  </div>
</header> 

<span id="typedd"></span> 

<!-- Down Arrow Centered -->
<div class="row"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-down floatingArrowAnimation" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/></svg></div>

<!-- Portfolio Area -->
<div class="row mainDivsSpacing">
  <a id="portfolio"></a>
    <h2> Portfolio </h2>
  <div>
    <p> Example text</p>
    <img class="w-100" id="" src="https://dummyimage.com/1100x800/000/fff&text=I+take+up+space" alt="Picture of Sean Derenas doing something">
    <p> Example text</p>
  </div>
</div> 

<!-- Down Arrow Centered -->
<div class="row"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-down floatingArrowAnimation" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/></svg></div>

<!-- About me/Skills Area -->
<div class="row mainDivsSpacing" id="aboutMeDiv">
  <a id="about"></a>
  <div class="row">
    
    <div class="col-8">
      <h2 class="mb-5">A little bit about me </h2>
      <p>I went to <a class="navLink aboutMeLinks" href="http://www.baypath.net/web/home/index/" target="_blank">Bay Path RVTHS</a> studying Computer Science, I learned about OOP, algorithms, advanced datatypes, software development with Ruby on Rails, and relatioanl databases. On my own and in a club I built autonamous robots and even competed with one.</p>
      <p>Currently, I am getting my masters in Computer Science at <a class="navLink aboutMeLinks" href="https://wit.edu/" target="_blank">Wentworth Institute of Technology</a> located in Boston, MA.</p>
    </div>
    
    <div class="col">
      <img class="w-100" id="aboutMeIMG" src="../public/images/personal/At_CMS_holding_robot.webp" alt="Picture of Sean Derenas doing something">
    </div>

  </div>

  <div class="row" id="aboutMeSkills"> <!-- About me skills -->
    <h2> Some of my skills </h2>
    <div class="icons col col-sm-5 col-md-3 text-center"><img class="transition iconsBlack" src="../public/images/icons/html_icon.webp"   alt="html logo icon">   <strong><h5>HTML</h5></strong></div>
    <div class="icons col col-sm-5 col-md-3 text-center"><img class="transition iconsBlack" src="../public/images/icons/css_icon.webp"    alt="css logo icon">    <strong><h5>CSS</h5></strong></div>
    <div class="icons col col-sm-5 col-md-3 text-center"><img class="transition iconsBlack" src="../public/images/icons/js_icon.webp"     alt="js logo icon">     <strong><h5>JavaScript</h5></strong></div>
    <div class="icons col col-sm-5 col-md-3 text-center"><img class="transition iconsBlack" src="../public/images/icons/ruby_icon.webp"   alt="ruby logo icon">   <strong><h5>Ruby on Rails</h5></strong></div>
    <div class="icons col col-sm-5 col-md-3 text-center"><img class="transition iconsBlack" src="../public/images/icons/python_icon.webp" alt="python logo icon"> <strong><h5>Python</h5></strong></div>
    <div class="icons col col-sm-5 col-md-3 text-center"><img class="transition iconsBlack" src="../public/images/icons/java_icon.webp"   alt="java logo icon">   <strong><h5>Java</h5></strong></div>
    <div class="icons col col-sm-5 col-md-3 text-center"><img class="transition iconsBlack" src="../public/images/icons/cpp_icon.webp"    alt="c++ logo icon">    <strong><h5>C++</h5></strong></div>
    <div class="icons col col-sm-5 col-md-3 text-center"><img class="transition iconsBlack" src="../public/images/icons/robot_icon.webp"  alt="robot arm icon">   <strong><h5>Robotics</h5></strong></div>
  </div>
</div>

<!-- Down Arrow Centered -->
<div class="row"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-down floatingArrowAnimation" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/></svg></div>

<!-- Contact Area -->   
<div class="row mainDivsSpacing" id="contactMeDiv">
  <a id="contact"></a>
  <div class="col-sm-3 text-end">
    <h2 class="text-center">Contact me here!</h2>
  </div>
  <div class="col">
    <form action="/contact" method="POST">
      <div class="row mt-2">
        <div class="col-3 text-end"><label for="contactName"><h4>Full Name</h4></label></div>
        <div class="col text-start"><input id="contactName" placeholder="John Doe" type="text" name="name" required="true"></div>
      </div>
      <div class="row mt-2">
        <div class="col-3 text-end"><label for="contactEmail"><h4>Email</h4></label></div>
        <div class="col text-start"><input id="contactEmail" placeholder="johndoe@example.com" type="text" name="email" required="true"><br></div>
      </div>
      <div class="row mt-2">
        <div class="col-3 text-end"><label for="contactSubject"><h4>Subject</h4></label></div>
        <div class="col text-start"><input id="contactSubject" placeholder="Subject Field" type="text" name="subject" required="true"><br></div>
      </div>
      <div class="row mt-2">
        <div class="col-3 text-end"><label for="contactContent"><h4>Content</h4></label></div>
        <div class="col text-start "><textarea class="" id="contactContent" placeholder="Main Content Section" type="text" name="content" required="true"></textarea><br></div>
      </div>
      <div class="col text-center"><button id="contactSubmit">Submit</button><input class="resetButton ms-5" type="reset" value="Reset"></div>
    </form>
  </div>
</div>