<div class="row">
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
    <div class="row"> <img class=" col w-100" id="aboutMeIMG" src="../public/images/personal/about_me_image.webp" alt="Picture of Sean Derenas doing something"><p> Example text for portfolio</p></div>
</div>