/*
~ filter color creator
https://angel-rs.github.io/css-color-filter-generator/

*/
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   WEBSITE STYLES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.transition {
  transition: 0.2s;
}
.mainDivsSpacing {
  @media (width >= 1200px) {
    margin-top: 8em;
    margin-bottom: 8em;    
  }
  @media (width >= 992px) {
    margin-top: 6em;
    margin-bottom: 6em;    
  }
  @media (992px >= width >= 768px) {
    margin-top: 4em;
    margin-bottom: 4em;    
  }
  @media (768px >= width >= 576px) {
    margin-top: 2em;
    margin-bottom: 2em;    
  }
  @media (576px >= width >= 0px) {
    margin-top: 1em;
    margin-bottom: 1em;    
  }

}
body {
  font-family: 'Courier New', monospace;
  background-color: #FAF9F6;
  color: #32373B;
}
.dark-mode {
  background-color: #32373B;
  color: #FAF9F6;
}
a.aboutMeLinks.dark-mode {
  text-decoration: underline;
} 
.dark-mode-button {
  background-color: #32373B;
  color: #FAF9F6;
  border: #FAF9F6 2px solid;
}
input, textarea {
  border-radius: 4px;
  border: 1px #4A5859 solid;
  padding: 5px;
  color: #32373B;
  background-color: #FAF9F6;
}
button, input[type="reset"] {/*  input[type="reset"] is for reset buttons */
  background-color: #FAF9F6;
  transition: 0.5s;
  border-radius: 4px;
  padding: 5px;
}
button:hover, input[type="reset"]:hover {
  background-color: #9c9c9c;
  transition: 0.5s;
}
button:active, input[type="reset"]:active {
  transition: 0.5s; 
} 
#contactSubmit {
  border: 1px #32373B solid;
}
::placeholder {
  color: #32373B;
  opacity: 50%;
}
.resetButton {
  max-width: fit-content;
}
::selection {
  background-color: #9c9c9c;
}
textarea {
  height: 150px;
  width: 100%;
}
input{
  width: 100%;
}

.floatingArrowAnimation { 
	animation-name: floatingArrowAnimation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

@keyframes floatingArrowAnimation {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); } 
}


/* ~~~~~~~~ NAV/LINK STYLES ~~~~~~~~~~~ */
li .navLink {
  font-size: 250%;
}
.navLink {
  background-color: transparent;
  transition: 0.2s; 
}

.navLink:hover {
  color: #9c9c9c;
}
a {
  color: #32373B;
  text-decoration: none ;
}

#closeNavBtn {
  font-size: x-large;
}
#navBtn:hover {
  background-color: #9c9c9c;  
}
#offcanvasButton:hover {
  background-color: #9c9c9c;
  color: #32373B;
}
.dark-mode #signInBtn {
  border: #FAF9F6 solid 2px;
}
.dark-mode #signInBtn a{
  color: #FAF9F6;
}
.floatingArrowAnimation {
  margin-top: 0px;
  margin-left: 0px;
}

/* ~~~~~~~~ WELCOME LANDING ~~~~~~~~~~~ */
.welcomeNameHover {
  display: inline-block;
  position: relative;
  color: inherit;
}

.welcomeNameHover::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9c9c9c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.welcomeNameHover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.welcomeIMGHover {
  transition: 0.2s;
  border: 5px #9c9c9c solid;
}
#welcomeIMG {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: #9c9c9c 2px solid;
}
.container header{
  @media (width >= 1200px) {
    margin-top: 15em;
    margin-bottom: 15em;    
  }
}

#welcomeIMG {
  @media (width <= 768px) {
    width: 50%;
    height: auto;  
  }
}
#welcomeIMGDiv {
  @media (width <= 768px) {
    flex: 0 0 auto;
    width: 100%;
  }
}

/* ~~~~~~~~ END OF WELCOME LANDING ~~~~~~~~~~~ */
/* ~~~~~~~~ PORTFOLIO STUFF ~~~~~~~~ */

.portfolioDisplays {
  @media (width <= 768px) {
    
    width: 100%;
  }
}

/* ~~~~~~~~ END OF PORTFOLIO STUFF ~~~~~~~~ */
/* ~~~~~~~~ ABOUT ME ~~~~~~~~~~~ */
.icons h5 {
  margin-top: 1rem;
}

.icons {
  @media (width <= 576px) {
    flex: 0 0 auto;
    width: 50%;
  }
  @media (768px <= width <= 576px) {
    flex: 0 0 auto;
    width: 33%;
  }
  
  @media (width <= 430px) {
    img {
      width: 80%;
      height: auto;
    }
    strong h5 {
      font-size: medium;
    }
  }
}

.icons strong .smallSkillText{
  @media (width <= 300px){
    font-size: smaller;
  }
}

#aboutMeSkills {
  margin-top: 3em;
}
#aboutMeSkills h2 {
  margin-bottom: 1em;
}
.iconImages{
  filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(3626%) hue-rotate(255deg) brightness(121%) contrast(95%);
}
.icons .iconsBlack {
  filter: brightness(0) saturate(100%) invert(18%) sepia(9%) saturate(507%) hue-rotate(165deg) brightness(101%) contrast(92%);
}

#aboutMeIMG {
  border: #9c9c9c 2px solid;
  border-radius: 5%;
}
.aboutMeLinks {
  text-decoration: underline #32373B;
}
.aboutMeLinks:hover {
  color: #9c9c9c;
  text-decoration: underline #9c9c9c;
}
.aboutMeText{
  @media (width <= 576px) {
    flex: 0 0 auto;
    width: 100%;
  }
}
.aboutMeText p{
  @media (1200px >= width >= 576px) {
    
    font-size: medium;
  }
  @media (width <= 576px) {
    font-size: large;
  }
}
/* ~~~~~~~~ END OF ABOUT ME ~~~~~~~~~~~ */
/* ~~~~~~~~ CONTACT ME ~~~~~~~~~~~ */

/* ~~~~~~~~ END OF CONTACT ME ~~~~~~~~~~~ */
/* ~~~~~~~~ FOOTER STYLES ~~~~~~~~~~~ */

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 8.5rem;    /* Footer height */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.5rem;            /* Footer height */
}
.contactText label h4{
  padding-right: 0px;
  @media (width <= 576px) {
    font-size: small;
  }
}

/* ~~~~~~~~ END FOOTER STYLES ~~~~~~~~~~~ */

#header {
  padding-bottom: 4rem;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   END OF WEBSITE STYLES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   COLORS   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

.nobg {
  background-color: transparent;
}

/* ~~~ TEXT COLORS ~~~ */
.black-onyx{color: #32373B;}
.space-gray{color: #9c9c9c;}
.outer-space-blue{color: #4A5859;}
.off-white{color: #FAF9F6;}

/* ~~~ BACKGROUND COLORS ~~~ */
.bg-black-onyx{background-color: #32373B;}
.bg-space-gray{background-color: #9c9c9c;}
.bg-outer-space-blue{background-color: #4A5859;}
.bg-off-white{background-color: #FAF9F6;}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~   END OF COLORS   ~~~~~~~~~~~~~~~~~~~~~~~~~~~  */